.clique-page {
    background: linear-gradient(to bottom, rgba(204, 204, 204, 0.5), rgba(178, 178, 178, 0.23));
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.clique-main-container {
    gap: 1px;
    display: flex;
    flex: 1;
    background-color: transparent;
}