*{
    margin: 0;
}

.slider {
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.home-page {
    width: 400px;
    height: 600px;
    padding: 2rem;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.bottom-buttons {
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem;

}
.home-btn {
    flex: 1;
    margin: 0 0.5rem;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn {
    background-color: #3678c5;
    color: white;
}

.login-btn:hover {
    background-color: #498bc9;
}

.register-btn {
    background-color: #3eb265;
    color: white;
}

.register-btn:hover {
    background-color: #60be7a;
}

.slider-wrapper {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.slide-img {
    min-width: 100%;
    height: 400px;
    object-fit: cover;
}
.home-text {
    text-align: center;
    font-family: Calibri, sans-serif;
    color: black;
    padding: 18px;
}
.home-text span {
    font-family: Calibri, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #3b2c91;
}